{% extends 'Nobles/html/base.html' %}
{% load static %}

{% block content %}

<!-- Start Banner Area -->
	<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Admission And Fee Structure
					</h1>
					
					<div class="link-nav">
						<span class="box">
							<a href="{% url 'home' %}">Home </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="{% url 'admission' %}">Admission And Fee Structure</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	
	</section>
	<!-- End Banner Area -->

<section class="sample-text-area">
		<div class="container">
			<h3 class="text-heading">ADMISSIONS AND FEE STRUCTURE</h3>
            <ul class="unordered-list">
			<li>
				Is open to all boys and girls irrespective of caste or creed.
			</li>
            <li>
            The admission shall be done after an interview. Only those children who is the opinion of the Principal are able to follow the set curriculum will be considered for admission
            </li>
            </ul>
		</div>
        &nbsp;<div class="container">
			<h3 class="text-heading">REGISTRATION</h3>
			<ul class="unordered-list">
            <li>Registration must be done on the prescribed from attached. Kindly see the school notice board for the dates and the timing if any.</li>
             <li>Registration of a candidate does not guarantee his/her admission.</li>
              <li>The interviews and written test will be held on the date assigned to you on the registration form.</li>
               <li>Fee once deposited will not be refunded.</li>
                <li>The management has absolute freedom in the choice of candidates for admission in the interest of the institution.</li>
                
            </ul>
		</div>
        </section>


<section>
<div class="container">
			<div class="row justify-content-center">
	<div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table table-striped">

          <!--Table head-->
          <thead class="thead-dark">
            <tr>
              <th>PARTICULARS</th>
              <th>CLASS 1</th>
              <th>CLASS 2</th>
              <th>CLASS 3</th>
			  <th>CLASS 4</th>
			  <th>CLASS 5</th>
			  
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
           <tr>
<td>Tuition Fees</td>
<td>₹ 8,000</td>
<td>₹ 8,000</td>
<td>₹ 8,000</td>
<td>₹ 8,000</td>
<td>₹ 8,000</td>
</tr>

<tr>
<td>Computer Fees</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
</tr>

<tr>
<td>Student Fund</td>
<td>₹ 1,700</td>
<td>₹ 1,800</td>
<td>₹ 1,900</td>
<td>₹ 2,000</td>
<td>₹ 2,100</td>
</tr>

<tr>
<td>Development</td>
<td>₹ 1000</td>
<td>₹ 1000</td>
<td>₹ 1000</td>
<td>₹ 1000</td>
<td>₹ 1000</td>
</tr>

<tr>
<td>Examination Fees</td>
<td>₹ 600</td>
<td>₹ 600</td>
<td>₹ 600</td>
<td>₹ 600</td>
<td>₹ 600</td>
</tr>

<tr>
<td>Library</td>
<td>₹ 400</td>
<td>₹ 400</td>
<td>₹ 400</td>
<td>₹ 400</td>
<td>₹ 400</td>
</tr>
 
<tr>
<td>Sports</td>
<td>₹ 200</td>
<td>₹ 200</td>
<td>₹ 200</td>
<td>₹ 200</td>
<td>₹ 200</td>
</tr>

<tr>
<td>I-Card Insurance</td>
<td>₹ 100</td>
<td>₹ 100</td>
<td>₹ 100</td>
<td>₹ 100</td>
<td>₹ 100</td>
</tr>
<tr class="table-success">
<td>Total Fee ( per annum )</td>
<td>₹ 14,000</td>
<td>₹ 14,100</td>
<td>₹ 14,200</td>
<td>₹ 14,300</td>
<td>₹ 14,400</td>
</tr>

          </tbody>
          <!--Table body-->


        </table>
        <!--Table-->
      </div>
	  </div>
</div> <br/> <br/></section>
<section>
<!--Section: Live preview-->
<div class="container">
			<div class="row justify-content-center">
	<div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table table-striped">

          <!--Table head-->
          <thead class="thead-dark">
            <tr>
              <th>PARTICULARS</th>
              <th>CLASS 6</th>
				<th>CLASS 7</th>
				<th>CLASS 8</th>
				<th>CLASS 9</th>
				<th>CLASS 10</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr>
<td>Tuition Fees</td>
<td>₹ 10,000</td>
<td>₹ 10,000</td>
<td>₹ 10,000</td>
<td>₹ 12,000</td>
<td>₹ 12,500</td>
</tr>

<tr>
<td>Computer Fees</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
</tr>

<tr>
<td>Student Fund</td>
<td>₹ 2,100</td>
<td>₹ 2,200</td>
<td>₹ 2,300</td>
<td>₹ 2,600</td>
<td>₹ 2,600</td>
</tr>

<tr>
<td>Development</td>
<td>₹ 1,200</td>
<td>₹ 1,200</td>
<td>₹ 1,200</td>
<td>₹ 1,200</td>
<td>₹ 1,200</td>
</tr>

<tr>
<td>Examination Fees</td>
<td>₹ 600</td>
<td>₹ 600</td>
<td>₹ 600</td>
<td>₹ 1,000</td>
<td>₹ 1,000</td>
</tr>

<tr>
<td>Library</td>
<td>₹ 400</td>
<td>₹ 400</td>
<td>₹ 400</td>
<td>₹ 500</td>
<td>₹ 500</td>
</tr>
 
<tr>
<td>Sports</td>
<td>₹ 300</td>
<td>₹ 300</td>
<td>₹ 300</td>
<td>₹ 500</td>
<td>₹ 500</td>
</tr>

<tr>
<td>I-Card Insurance</td>
<td>₹ 100</td>
<td>₹ 100</td>
<td>₹ 100</td>
<td>₹ 100</td>
<td>₹ 100</td>
</tr>
<tr class="table-success">
<td>Total Fee ( per annum )</td>
<td>₹ 16,700</td>
<td>₹ 16,800</td>
<td>₹ 16,900</td>
<td>₹ 19,900</td>
<td>₹ 20,400</td>
</tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>
	  </div>
</div> <br/> <br/>
</section>
<section>
<div class="container">
			<div class="row justify-content-center">
	<div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table table-striped ">

          <!--Table head-->
          <thead class="thead-dark">
            <tr>
              <th>PARTICULARS</th>
              <th>CLASS 11 (Science)</th>
				<th>CLASS 12 (Science)</th>
				<th>CLASS 11 (Commerce)</th>
        <th>CLASS 12 (Commerce)</th>
				<th>CLASS 11 (Arts)</th>
        <th>CLASS 11 Agr.(Science)</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
           <tr>
<td>Tuition Fees</td>
<td>₹ 25,000</td>
<td>₹ 26,000</td>
<td>₹ 15,000</td>
<td>₹ 16,000</td>
<td>₹ 13,000</td>
<td>₹ 25,000</td>
</tr><tr class="table-success">

<tr>
<td>Computer Fees</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
<td>₹ 2,000</td>
</tr>

<tr>
<td>Student Fund</td>
<td>₹ 3,600</td>
<td>₹ 3,600</td>
<td>₹ 3,600</td>
<td>₹ 3,600</td>
<td>₹ 3,600</td>
<td>₹ 3,600</td>
</tr>

<tr>
<td>Development</td>
<td>₹ 1,300</td>
<td>₹ 1,300</td>
<td>₹ 1,300</td>
<td>₹ 1,300</td>
<td>₹ 1,300</td>
<td>₹ 1,300</td>
</tr>

<tr>
<td>Examination Fees</td>
<td>₹ 1,000</td>
<td>₹ 1,000</td>
<td>₹ 1,000</td>
<td>₹ 1,000</td>
<td>₹ 1,000</td>
<td>₹ 1,000</td>
</tr>

<tr>
<td>Library</td>
<td>₹ 700</td>
<td>₹ 700</td>
<td>₹ 700</td>
<td>₹ 700</td>
<td>₹ 700</td>
<td>₹ 700</td>
</tr>
 
<tr>
<td>Sports</td>
<td>₹ 600</td>
<td>₹ 600</td>
<td>₹ 600</td>
<td>₹ 600</td>
<td>₹ 600</td>
<td>₹ 600</td>
</tr>

<tr>
<td>I-Card Insurance</td>
<td>₹ 100</td>
<td>₹ 100</td>
<td>₹ 100</td>
<td>₹ 100</td>
</tr>

<tr class="table-success">
<td>Total Fee ( per annum )</td>
<td>₹ 34,300</td>
<td>₹ 35,300</td>
<td>₹ 24,300</td>
<td>₹ 25,300</td>
<td>₹ 22,300</td>
<td>₹ 34,300</td>
</tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>
	  </div>
</div> <br/> <br/>
</section>
<section>
<div class="container">
			<div class="row justify-content-center">
			<div class="col-md-12" style="background-color: #52c86d; text-align:center; padding: 5px;"><h4>ADMISSION FEE</h4></div>
			</div>
</div>
</section>
<section>
<div class="container">
			<div class="row justify-content-center">
	<div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table table-striped">

          <!--Table head-->
          <thead class="thead-dark">
		  
            <tr>
<th><strong>CLASS PG to Prep</strong></th>
<th><strong>CLASS 1 to 5</strong></th>
<th><strong>CLASS 6 to 8</strong></th>
<th><strong>CLASS 9 to 12</strong></th>
</tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
		  
<tr>
<td>₹ 100</td>
<td>₹ 300</td>
<td>₹ 400</td>
<td>₹ 500</td>
</tr>
</tbody>
</table>
		  </div>
		  </div>
		  </div><br/><br/>
</section> 
<section>
		<div class="container-fluid">
			<div class="row justify-content-center">
		  <h5>Admission Form:<font> ₹ 100</font></h5>
		  </div>
		  </div><br/><br/>
		  </section>
{% endblock %}