{% extends 'Nobles/html/base.html' %}
{% load static %}







{% block content %}
<!-- Start Banner Area -->
	<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						School Facilities
					</h1>
					<div class="link-nav">
						<span class="box">
							<a href="{% url 'home' %}">Home </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="{% url 'facilities' %}">Facilities</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<!-- End Banner Area -->
    <section class="popular-course-area">
    <div class="container-fluid">
      <div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
					<br>
						<h2>SCHOOL FACILITIES</h2>
						
					</div>
				</div>
		</div>
        <div class="row justify-content-center">
	<div class="col-md-12">
						<h3 class="mb-20">UNIQUE FEATURES OF THE SCHOOL</h3>
						<div class="">
							<ul class="unordered-list">
								<li>Educating the child in a unique way.</li>
								<li>Day Boarding Co-educational School with own building and large play ground.</li>
								<li>Use of all methods, systems and principles of teaching in a coordinated manner.</li>
								<li>N.C.E.R.T syllabus Wi-Fi campus with projector and television</li>
								<li>Maximum 35 students in one class.</li>
								<li>Emphasis on handwriting, pronunciation, language, behaviour and neat work.</li>
                                <li>Fully equipped new building with large play ground.</li>
                                <li>Facilities for encouraging hobbies and sports.</li>
                                <li>Bus facility available in nearby 40 villages.</li>
                                <li>Computer education available from starting classes.</li>
                                <li>Hostel and Paying guest facility</li>
                                <li>Modern computer, Physics, Biology and Chemistry Lab.</li>
                                <li>Opportunities available for Hindi Medium students to get admission.</li>
                                <li>Conceptual and experienced faculty.</li>
                                
							</ul>
						</div>
					</div>
                    </div>
                    <br/><br/>
        </div>
        <section>
{% endblock %}