{% extends 'Nobles/html/base.html' %}
{% load static %}

{% block content %}
<!-- Start Banner Area -->
	<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Route Plan Of School Buses
					</h1>
					<div class="link-nav">
						<span class="box">
							<a href="{% url 'home' %}">Home </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="{% url 'route_plan' %}">Route Plan Of School Buses</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	
	</section>
	<!-- End Banner Area -->

<section class="about-area section-gap">
		<div class="container">

	<div class="row justify-content-center">
	<div class="table-responsive text-nowrap">
                <table class="table table-striped">
<thead class="thead-dark">
<tr>
      <th>Sr. No.</th>
      <th>Place</th>
      <th>Rent/Year(2022-2023)</th>
      <th>Route</th>
    </tr>
</thead>
<tbody>
    <tr>
      <th>1.</th>
      <td>Palasiya Khrud</td>
      <td>₹ 8,500</td>
      <td>1</td>
    </tr>
    <tr>
      <tr>
      <th scope="row">2.</th>
      <td>Palasiya Kalla</td>
      <td>₹ 8,250</td>
      <td>1</td>

    </tr>
      <tr>
      <th scope="row">3.</th>
      <td>Rasiyawas Khurd</td>
      <td>₹ 8,250</td>
      <td>1</td>

    </tr>
      <tr>
      <th scope="row">4.</th>
      <td>Rasiyawas Kalla</td>
      <td>₹ 8,000</td>
      <td>1</td>

    </tr>
       <tr>
      <th scope="row">5.</th>
      <td>Paota</td>
      <td>₹ 8,000</td>
      <td>1</td>

    </tr>
       <tr>
      <th scope="row">6.</th>
      <td>Sedariya</td>
      <td>₹ 8,000</td>
      <td>1</td>

    </tr>
       <tr>
      <th scope="row">7.</th>
      <td>Bedana Kalla</td>
      <td>₹ 8,000</td>
      <td>1</td>

    </tr>
       <tr>
      <th scope="row">8.</th>
      <td>Bedana Khurd</td>
      <td>₹ 7,750</td>
      <td>2</td>

    </tr>
       <tr>
      <th scope="row">9.</th>
      <td>Hariyali</td>
      <td>₹ 7,750</td>
      <td>1</td>

    </tr>
       <tr>
      <th scope="row">10.</th>
      <td>Sugaliya Balotan</td>
      <td>₹ 7,750</td>
      <td>1</td>

    </tr>
       <tr>
      <th scope="row">11.</th>
      <td>Paota Canal</td>
      <td>₹ 7,500</td>
      <td>1</td>

    </tr>
       <tr>
      <th scope="row">12.</th>
      <td>Thanwala</td>
      <td>₹ 9,000</td>
      <td>2</td>

    </tr>
       <tr>
      <th scope="row">13.</th>
      <td>Harji</td>
      <td>₹ 9,000</td>
      <td>2</td>

    </tr>
       <tr>
      <th scope="row">14.</th>
      <td>Pachawana</td>
      <td>₹ 8,500</td>
      <td>2</td>

    </tr><tr>
      <th scope="row">15.</th>
      <td>Ummedpur</td>
      <td>₹ 8,250</td>
      <td>2</td>

    </tr><tr>
      <th scope="row">16.</th>
      <td>Moru</td>
      <td>₹ 8,250</td>
      <td>2</td>

    </tr>
       <tr>
      <th scope="row">17.</th>
      <td>Malpura</td>
      <td>₹ 8,250</td>
      <td>2</td>

    </tr>
<tr>
      <th scope="row">18.</th>
      <td>Dujana</td>
      <td>₹ 9,000</td>
      <td>3</td>

    </tr>
       <tr>
      <th scope="row">19.</th>
      <td>Balana</td>
      <td>₹ 8,000</td>
      <td>3</td>

    </tr>
       <tr>
      <th scope="row">20.</th>
      <td>Khiwandi</td>
      <td>₹ 9,000</td>
      <td>3</td>

    </tr>
       <tr>
      <th scope="row">21.</th>
      <td>Bankali</td>
      <td>₹ 8,750</td>
      <td>3</td>

    </tr>
       <tr>
      <th scope="row">22.</th>
      <td>Balupura</td>
      <td>₹ 8,250</td>
      <td>3</td>

    </tr>
       <tr>
      <th scope="row">23.</th>
      <td>Bithiya</td>
      <td>₹ 8,000</td>
      <td>3</td>

    </tr>
       <tr>
      <th scope="row">24.</th>
      <td>Koselao</td>
      <td>₹ 9,000</td>
      <td>4</td>

    </tr>
<tr>
      <th scope="row">25.</th>
      <td>Rajpura</td>
      <td>₹ 8,000</td>
      <td>4</td>

    </tr>
       <tr>
      <th scope="row">26.</th>
      <td>Gudiya</td>
      <td>₹ 8,000</td>
      <td>3</td>

    </tr>
       <tr>
      <th scope="row">27.</th>
      <td>Guda Balotan</td>
      <td>₹ 8,500</td>
      <td>3</td>

    </tr>
       <tr>
      <th scope="row">28.</th>
      <td>Agawari</td>
      <td>₹ 8,500</td>
      <td>3</td>

    </tr>
       <tr>
      <th scope="row">29.</th>
      <td>Takhatgarh</td>
      <td>₹ 5,500</td>
      <td>4</td>
    </tr>
<tr>
      <th scope="row">30.</th>
      <td>Novi</td>
      <td>₹ 9,000</td>
      <td>1</td>

    </tr>

  </tbody>
</table>
</div>
            </div>
			<br>
			<strong>नोट :-</strong>
    <p>1. कक्षा नर्सरी  से प्रेप कक्षाओं हेतु तखतगढ़ शहर में नि:शुलक  बस सुविधा उपलब्ध|</p>
    <p>2. गावों  हेतु कक्षा नर्सरी से प्रेप कक्षाओं हेतु 5000 दर पर बस सुविधा उपलब्ध|</p>
        </div>
</section>

{% endblock %}
