{% extends "Elearning/base.html" %}
{% load static %}

{% block profile_image %}
{% if user_name.teacher.profile_picture %}
<img class="h-8 w-8 rounded-full" src="{{ user_name.teacher.profile_picture_thumbnail.url }}" alt="" />
{% else %}
<img class="h-8 w-8 rounded-full" src="{% static 'Elearning/img/profile_img.jpg' %}" alt="" />
{% endif %}
{% endblock %}

{% block menubar %}
<div x-show="open" x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100"
    x-transition:leave-end="transform opacity-0 scale-95"
    class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
    <div class="py-1 rounded-md bg-white shadow-xs">
        <div class="border-0 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words">
            <div>
                <div class="opacity-75 text-center font-normal p-3 mb-0 border-b">
                    <span>{{ user_name.teacher.first_name }}</span>
                    <span>{{ user_name.teacher.last_name }}</span>
                    <span class="block text-xs text-teal-500">Teacher</span>
                    <span
                        class="block text-xs tracking-widest text-gray-600 font-light">({{ user_name.get_username }})</span>
                </div>
            </div>
        </div>
        <a href="{% url 'logout'%}"
            class="block px-4 py-2 text-sm text-center text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150">Sign
            out</a>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="tab-content flex-1 relative z-0 overflow-y-auto py-6 focus:outline-none" tabindex="0" x-data
    x-init="$el.focus()">


    <div id="classroom" class="block">
        {% if lecture_id %}
        <p class="w-full text-teal-400 uppercase text-lg  text-center tracking-wider font-medium">Classroom Course</p>
        <p class="w-full text-center sm:text-xs md:text-xs  text-gray-500 font-normal">Checkout all the <span
                class="font-bold">videos</span> we will go over below:</p>

        <classroom
            class="mb-6 sm:mb-16 md:mb-24 pb-8 relative animation-fade animation-delay overflow-x-hidden mt-6 sm:mt-24 lg:mt-0"
            id="videos">
            <div class="container mx-auto relative z-30 px-0 sm:px-5">
                <p class="w-full text-custom-purple uppercase text-xs sm:text-sm text-center tracking-wider font-bold">
                </p>
                <h2
                    class="w-full text-gray-900 text-xl sm:text-3xl md:text-4xl lg:text-5xl gilroy-bold text-center my-1">
                </h2>
                <p class="w-full text-center text-sm sm:text-normal md:text-lg lg:text-xl text-gray-500 font-normal">
                </p>

                <div class="flex flex-wrap px-12 sm:px-0 mt-6 md:mt-8 lg:mt-12 -ml-5 -mr-5">

                    {% for classroom in classrooms %}

                    {% if classroom.lecture_set.all.0.id %}
                    <div class="w-full sm:w-1/2 md:w-1/3 relative pr-5 pl-5 pb-10">
                        <a href="{% url  'video_pk' classroom.id classroom.lecture_set.all.0.id  %}">
                            <div
                                class="rounded overflow-hidden shadow hover:shadow-lg transition cursor-pointer start-adventure">
                                <div class="sixteen-by-nine relative">
                                    <div class="absolute w-full h-full inset-0 z-20">
                                    </div>
                                    {% if classroom.cover_photo_thumbnail %}
                                    <img src="{{ classroom.cover_photo_thumbnail.url }}" class="absolute inset-0"
                                        alt="Day 1">
                                    {% else %}
                                    <img src="" class="absolute inset-0" alt="Day 1">
                                    {% endif %}
                                    <div class="absolute bottom-0 left-0 z-30 w-full h-full inset-0">
                                        <div
                                            class="rounded-r-lg rounded-tr-none bg-custom-pink text-white px-3 py-2 inline-block font-bold text-sm shadow">
                                            New </div>
                                    </div>
                                    <div class="absolute w-full flex justify-center items-center inset-0">
                                        <svg width="55px" height="55px" viewBox="0 0 55 55" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-464.000000, -2536.000000)">
                                                    <g transform="translate(46.000000, 1922.000000)">
                                                        <g transform="translate(0.000000, 415.000000)">
                                                            <g transform="translate(418.000000, 199.000000)">
                                                                <g>
                                                                    <g>
                                                                        <g fill="#39cfca">
                                                                            <circle cx="27.5" cy="27.5" r="27.5">
                                                                            </circle>
                                                                        </g>
                                                                        <polygon fill="#FFFFFF" fill-rule="nonzero"
                                                                            points="23.0232558 19.1860465 23.0232558 36.1957654 35.8139535 27.6909059">
                                                                        </polygon>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>

                                <div class="px-4 py-1 bg-white border-t border-gray-200">
                                    <p class="text-normal text-gray-800 font-bold mt-3">{{ classroom.name }}</p>
                                    <p class="text-xs italic text-gray-500 mb-3">
                                        {{ classroom.subject.all|join:", " }}</p>
                                    <!-- https://stackoverflow.com/questions/4270330/django-show-a-manytomanyfield-in-a-template -->
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

        </classroom>
        {% else %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mx-6 text-center" role="alert">
            <strong class="font-bold">Something went wrong!</strong>
            <span class="block sm:inline">No video courses found</span>
        </div>
        {% endif  %}
    </div>


    <div id="homework" class="hidden lg:mx-40">
        {% if homework_list %}
        <div class="mb-8">
            <p class="w-full text-teal-400 uppercase text-lg  text-center tracking-wider font-medium">Homework</p>
            <p class="w-full text-center sm:text-xs md:text-xs  text-gray-500 font-normal">Checkout all the <span
                    class="font-bold">homework </span>tasks below:</p>
        </div>
 {% for classroom in classrooms %}
        <ul class="mx-2" x-data="{selected:null}">
           
            <li class="w-full px-2 flex align-center flex-col mb-1">
                <h4 @click="selected !== {{ classroom.id }} ? selected = {{ classroom.id }} : selected = null"
                    :class="{'cursor-pointer px-5 py-3 bg-custom-pink uppercase text-white text-center inline-block hover:opacity-75 hover:shadow hover:-mb-3': true}">
                    {{ classroom.name }}</h4>

                {% if classroom.homework_set.all %}
                {% for file in classroom.homework_set.all %}
                <a href="{{ file.your_file.url }}" download="{{ file.name }}.pdf">

                    <div x-show="selected == {{ classroom.id }}" :class="{'border py-4 px-2 flex': true}">
                        <i class="fal fa-file-pdf mr-4 text-2xl text-red-600"></i>
                        <p class="w-5/6 -mt-1 font-sans text-left text-xs font-normal">{{ file.name }}</p>
                        {% comment %} <span
                            class="w-1/6 text-xs font-normal text-right text-teal-400">{{ file.added|naturalday:"j M y" }}</span>
                        {% endcomment %}
                        <div class="w-1/6 ml-4 items-center text-white  -mt-1 leading-none lg:rounded-full flex lg:inline-flex"
                            role="alert">
                            <span style="box-shadow: 0 0 10px rgba(154, 230, 180, .7); "
                                class="flex rounded-full bg-green-300 uppercase px-2 py-1 text-xs font-bold">New</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% else %}
                            <div x-show="selected == {{ classroom.id }}" :class="{'border py-4 px-2': true, 'rounded-b': selected == {{ classroom.id }}}" class="flex">
                    <i class="far fa-empty-set mr-2 text-2xl text-red-400"></i> <p class="text-red-400 w-5/6 text-center text-sm font-light">No files uploaded yet!</p><span class="w-1/6"></span>
                </div>
                {% endif %}

            </li>
           

        </ul>
 {% endfor %}
        {% else %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mx-6 text-center" role="alert">
            <strong class="font-bold">Something went wrong!</strong>
            <span class="block sm:inline">No classroom homework found</span>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}